body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #333;
  color: white;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* .nav-links a,
.nav-links button {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
} */

.user-name {
  margin-right: 15px;
}



.homes {
  display: flex;
  flex-wrap: wrap;
}

.home-card {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  flex: 1 1 calc(33.333% - 20px); /* Three cards in a row */
  box-sizing: border-box;
}

.home-card img {
  max-width: 100%;
  height: auto;
}

.search-bar {
  margin: 20px 0;
}

.search-bar input {
  margin-right: 10px;
}